* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  margin:0px;
  padding:0px;
  height: 100%;
}

.app {
  width: 100%;
  text-align: center;
}

.mic-select {
  margin-bottom: 30px;
}
